In [1]:
import pandas as pd
import numpy as np
import boto3
import io
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

bucket_name = 'ssa-oc-bucket'

In [2]:
# # read sales data
# s3 = boto3.client('s3', aws_access_key_id= 'AKIAVNWCBZPGPW4OB7H7',
#                     aws_secret_access_key='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')
# object_key = 'source/OC_Historic_Sales_Data/Condensed_Glass_Reinforcements_2014-2021_Sales_Data.xlsx'
# obj = s3.get_object(Bucket=bucket_name, Key=object_key)
# data = obj['Body'].read()
# gr_revenue = pd.read_excel(io.BytesIO(data),engine='openpyxl')
# gr_revenue = gr_revenue[gr_revenue['External/Downstream']=='External']
# gr_revenue = gr_revenue[gr_revenue['End Use Market']!= '10K REVENUE PLUG']
# gr_revenue = gr_revenue[gr_revenue['End Use Market']!= 'BPC DATA PLUG']
# gr_revenue = gr_revenue[gr_revenue['End Use Market']!= 'BPC  REVENUE PLUG']
# gr_revenue = gr_revenue[gr_revenue['Region']!= 'Not assigned']
# gr_revenue = gr_revenue[(gr_revenue['Country']!= 'Not Assigned') | (gr_revenue['Country']!= 'Not assigned')]
# gr_revenue = gr_revenue[gr_revenue['End Use Market (Sub)']!= 'NOT ASSIGNED']
# gr_revenue = gr_revenue[gr_revenue['End Use Market (Sub)']!= 'Not Assigned']
# gr_revenue = gr_revenue[gr_revenue['End Use Market']!= 'Not Assigned']

In [3]:
# BL_Residential = gr_revenue[gr_revenue['End Use Market (Sub)']=='BL-RESIDENTIAL']
# BL_Residential_quarter = BL_Residential.groupby(['Region','Country','Year','Quarter'])['Sales'].agg(sum).reset_index()

In [4]:
# BL_Residential_US = BL_Residential_quarter[BL_Residential_quarter['Country']=='USA']

In [5]:
# BL_Residential_US = BL_Residential_US[['Year','Quarter','Sales']].rename(columns={'Sales':'US Sales'})

In [24]:
US_BL_Non_Residential_Month = pd.read_csv('BL_Non_Residential_US_Monthly.csv')

In [25]:
def monthToQuarter(month):
    return {
            1: 1,
            2: 1,
            3: 1,
            4: 2,
            5: 2,
            6: 2,
            7: 3,
            8: 3,
            9: 3, 
            10: 4,
            11: 4,
            12: 4
    }[month]

US_BL_Non_Residential_Month['Quarter']=US_BL_Non_Residential_Month['Month'].apply(monthToQuarter)

In [26]:
US_BL_Non_Residential_Quarter = US_BL_Non_Residential_Month.drop(['Month'], axis=1)
US_BL_Non_Residential_Quarter = US_BL_Non_Residential_Quarter.groupby(['Year','Quarter']).agg(sum).reset_index()

In [27]:
US_BL_Non_Residential_Quarter.head()

,Year,Quarter,Sales,"Non-Residential (Commercial Buildings, SAAR)","Non-Residential (Commercial Buildings, NSA)",Total,1_unit,5_or_more_units,Northeast_total,Northeast_1_unit,Midwest_total,Midwest_1_unit,South_total,South_1_unit,West_total,West_1_unit,SE Rovings,ME Rovings,CSM,CFM,WUCS
0,2014,1,8647853.730,170283,12541,2802,1813,956,335,143,338,250,1467,995,662,425,64737.825,36052.315,2922.557,5503.443,109619.150
1,2014,2,8461779.130,180277,15438,2961,1901,1020,309,157,553,331,1432,982,667,431,70914.051,40857.178,3289.803,5391.995,114629.557
2,2014,3,9266477.580,195749,17561,3092,1964,1082,351,152,517,325,1513,1057,711,430,66637.093,37618.096,2952.944,5293.970,114817.009
3,2014,4,5635380.900,205298,17303,3148,2077,1025,316,157,499,334,1547,1128,786,458,61232.794,35650.407,2962.664,5310.114,98810.619
4,2015,1,6391238.860,192170,14251,2931,1914,983,255,122,381,262,1552,1071,743,459,63180.467,38475.425,7054.354,5701.126,85682.136

# US Asphalt Shingle

In [28]:
# yearly data
s3 = boto3.client('s3', aws_access_key_id= 'AKIAVNWCBZPGPW4OB7H7',
                    aws_secret_access_key='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')
object_key = 'source/End_Market_Data/Asphalt_Shingle_Demand_History_2021-06-09_Quarterly.xlsx'
obj = s3.get_object(Bucket=bucket_name, Key=object_key)
data = obj['Body'].read()
shingle = pd.read_excel(io.BytesIO(data),engine='openpyxl')
shingle = shingle.rename(columns={'Quarter':'Date'})

In [29]:
shingle['Quarter'] =shingle['Date'].str.extract('.*(\d{1})', expand = False).astype(int)
shingle['Year'] =shingle['Date'].str.extract('.*(\d{4})', expand = False).astype(int)
#shingle['Country'] = 'USA'
shingle = shingle[['Year','Quarter','Squares (MM)']]

In [30]:
df1 = US_BL_Non_Residential_Quarter.merge(shingle, on=['Year','Quarter'], how='left')
df1 = df1.rename(columns={'Squares (MM)':'Roofing Squares (MM)'})

In [31]:
df1.head()

,Year,Quarter,Sales,"Non-Residential (Commercial Buildings, SAAR)","Non-Residential (Commercial Buildings, NSA)",Total,1_unit,5_or_more_units,Northeast_total,Northeast_1_unit,Midwest_total,Midwest_1_unit,South_total,South_1_unit,West_total,West_1_unit,SE Rovings,ME Rovings,CSM,CFM,WUCS,Roofing Squares (MM)
0,2014,1,8647853.730,170283,12541,2802,1813,956,335,143,338,250,1467,995,662,425,64737.825,36052.315,2922.557,5503.443,109619.150,38.405
1,2014,2,8461779.130,180277,15438,2961,1901,1020,309,157,553,331,1432,982,667,431,70914.051,40857.178,3289.803,5391.995,114629.557,24.901
2,2014,3,9266477.580,195749,17561,3092,1964,1082,351,152,517,325,1513,1057,711,430,66637.093,37618.096,2952.944,5293.970,114817.009,26.659
3,2014,4,5635380.900,205298,17303,3148,2077,1025,316,157,499,334,1547,1128,786,458,61232.794,35650.407,2962.664,5310.114,98810.619,16.716
4,2015,1,6391238.860,192170,14251,2931,1914,983,255,122,381,262,1552,1071,743,459,63180.467,38475.425,7054.354,5701.126,85682.136,24.997

# Construction_NACE_rv2_41-43_2000-2025

In [32]:
s3 = boto3.resource(
                    service_name='s3',
                    region_name = 'us-east-1',
                    aws_access_key_id= 'AKIAVNWCBZPGPW4OB7H7',
                    aws_secret_access_key='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')
s3_bucket_name='ssa-oc-bucket'
file_name= 'source/Oxford_Economics_Indicators/Global_Industry/Global_Industry_Forecasts_by_NACE_Code/Construction_NACE_rv2_41-43_2000-2025_Quarterly.csv'
obj = s3.Object(s3_bucket_name, file_name)
data = obj.get()['Body'].read()
construction_df = pd.read_csv(io.BytesIO(data),encoding='unicode_escape')

construction_df.replace({"United States": "USA", "Venezuela,  RB": "Venezuela",
                                "Hong Kong,  China":"Hong Kong", "Egypt, Arab Rep.":"Egypt",
                                "Russia":"Russian Fed.", "Slovak Republic":"Slovakia",
                                "United Arab Emirates":"Utd.Arab Emir."}, inplace=True)
cons_non_residential = construction_df[(construction_df['Sector']==
                                   'Construction: Non-residential building, NACE rv2 41.2/1,part of 41.1,part 43')|
                                      (construction_df['Sector']==
                                   'Construction, Non residential Building, NACE rv2 41.2/1,part of 41.1,part 43')]

In [33]:
indicator_list = ['Production index', 
       'Gross output (sales), Real USD']
cons_non_residential = cons_non_residential[cons_non_residential['Indicator'].isin(indicator_list)]

In [34]:
cons_non_residential_US = cons_non_residential[cons_non_residential['Location']=='USA']
cons_non_residential_US['Indicator'] = cons_non_residential_US['Indicator'].apply(lambda x: 'Construction '+ x)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [35]:
# indicator_list = ['Gross output (sales), Nominal USD','Production index',
# 'Value-added output, As a percent of world total','Value-added output, As a percent of GDP', 
# 'Investment, Nominal USD', 'Gross operating surplus (profits), Nominal USD']
# cons_residential_US = cons_residential_US[cons_residential_US['Indicator'].isin(indicator_list)]

In [36]:
cons_non_residential_US = cons_non_residential_US.iloc[:,np.r_[0,1,6,21:29]]
cons_non_residential_US = cons_non_residential_US.groupby(['Indicator','Quarter']).agg(sum).reset_index()

In [37]:
cons_non_residential_US.head()

,Indicator,Quarter,2014,2015,2016,2017,2018,2019,2020,2021
0,"Construction Gross output (sales), Real USD",Q1,102.370,114.610,123.580,124.010,124.470,125.770,118.810,121.090
1,"Construction Gross output (sales), Real USD",Q2,102.370,114.610,123.580,124.010,124.470,125.770,118.810,121.090
2,"Construction Gross output (sales), Real USD",Q3,102.370,114.610,123.580,124.010,124.470,125.770,118.810,121.090
3,"Construction Gross output (sales), Real USD",Q4,102.370,114.610,123.580,124.010,124.470,125.770,118.810,121.090
4,Construction Production index,Q1,92.400,100.000,105.720,107.570,110.600,112.530,102.150,105.650

In [38]:
def data_preprocess(df):
    df_2014 = df.iloc[:,[1,2]].rename(columns={'2014':'Output'})
    df_2014['Year'] = 2014
    df_2015 = df.iloc[:,[1,3]].rename(columns={'2015':'Output'})
    df_2015['Year'] = 2015
    df_2016 = df.iloc[:,[1,4]].rename(columns={'2016':'Output'})
    df_2016['Year'] = 2016
    df_2017 = df.iloc[:,[1,5]].rename(columns={'2017':'Output'})
    df_2017['Year'] = 2017
    df_2018 = df.iloc[:,[1,6]].rename(columns={'2018':'Output'})
    df_2018['Year'] = 2018
    df_2019 = df.iloc[:,[1,7]].rename(columns={'2019':'Output'})
    df_2019['Year'] = 2019
    df_2020 = df.iloc[:,[1,8]].rename(columns={'2020':'Output'})
    df_2020['Year'] = 2020
    df_2021 =df.iloc[:,[1,9]].rename(columns={'2021':'Output'})
    df_2021['Year'] = 2021

    df_all_year = pd.concat([df_2014,df_2015,df_2016,df_2017,df_2018,df_2019,df_2020,df_2021])

    df_all_year['Quarter'] = df_all_year['Quarter'].str.extract('.*(\d{1})', expand = False).astype(int)
    #df_all_year['Location'] = df['Location'].unique()[0]
    df_all_year['Indicator'] = df['Indicator'].unique()[0]
    return df_all_year

In [39]:
cons_non_residential_US1 = cons_non_residential_US.groupby(['Indicator']).apply(data_preprocess).reset_index(drop=True)
cons_non_residential_US2 = cons_non_residential_US1.groupby(['Indicator','Year',
                                                    'Quarter'])['Output'].agg(sum).reset_index()

In [40]:
def indicator_output(df):    
    indicators = df['Indicator'].unique().tolist()
    for i in range(len(indicators)):
        if i==0:
            new_df = df[df['Indicator']==indicators[i]][['Year','Quarter']]
        output = df[df['Indicator']==indicators[i]]['Output'].tolist()
        new_df[indicators[i]] = output
    return new_df

cons_non_residential_US_df_final = indicator_output(cons_non_residential_US2)

In [41]:
df2 = df1.merge(cons_non_residential_US_df_final, on=['Year','Quarter'], how='left')

In [42]:
df2.head()

,Year,Quarter,Sales,"Non-Residential (Commercial Buildings, SAAR)","Non-Residential (Commercial Buildings, NSA)",Total,1_unit,5_or_more_units,Northeast_total,Northeast_1_unit,Midwest_total,Midwest_1_unit,South_total,South_1_unit,West_total,West_1_unit,SE Rovings,ME Rovings,CSM,CFM,WUCS,Roofing Squares (MM),"Construction Gross output (sales), Real USD",Construction Production index
0,2014,1,8647853.730,170283,12541,2802,1813,956,335,143,338,250,1467,995,662,425,64737.825,36052.315,2922.557,5503.443,109619.150,38.405,102.370,92.400
1,2014,2,8461779.130,180277,15438,2961,1901,1020,309,157,553,331,1432,982,667,431,70914.051,40857.178,3289.803,5391.995,114629.557,24.901,102.370,92.400
2,2014,3,9266477.580,195749,17561,3092,1964,1082,351,152,517,325,1513,1057,711,430,66637.093,37618.096,2952.944,5293.970,114817.009,26.659,102.370,92.400
3,2014,4,5635380.900,205298,17303,3148,2077,1025,316,157,499,334,1547,1128,786,458,61232.794,35650.407,2962.664,5310.114,98810.619,16.716,102.370,92.400
4,2015,1,6391238.860,192170,14251,2931,1914,983,255,122,381,262,1552,1071,743,459,63180.467,38475.425,7054.354,5701.126,85682.136,24.997,114.610,100.000

# Glass, Ceramics, Clay, Plaster, and Masonry, NACER rv2 23 2000-2025

In [43]:
s3 = boto3.resource(
                    service_name='s3',
                    region_name = 'us-east-1',
                    aws_access_key_id= 'AKIAVNWCBZPGPW4OB7H7',
                    aws_secret_access_key='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')
s3_bucket_name='ssa-oc-bucket'
file_name= 'source/Oxford_Economics_Indicators/Global_Industry/Global_Industry_Forecasts_by_NACE_Code/Glass_Ceramics_Clay_Plaster_and_Masonry_NACE_rv2_23_2000-2025_Quarterly.csv'
obj = s3.Object(s3_bucket_name, file_name)
data = obj.get()['Body'].read()
glass = pd.read_csv(io.BytesIO(data),encoding='latin1')

glass.replace({"United States": "USA", "Venezuela,  RB": "Venezuela",
                                "Hong Kong,  China":"Hong Kong", "Egypt, Arab Rep.":"Egypt",
                                "Russia":"Russian Fed.", "Slovak Republic":"Slovakia",
                                "United Arab Emirates":"Utd.Arab Emir."}, inplace=True)

In [44]:
indicator_list = ['Gross output (sales), Nominal USD', 
                  'Production index',
       'Value-added output, As a percent of world total',
       'Value-added output, As a percent of GDP',
       'Value-added output, As a percent of manufacturing',
       'Investment, Nominal USD', 
       'Gross operating surplus (profits), Nominal USD']
glass = glass[glass['Indicator'].isin(indicator_list)]

In [45]:
glass_US = glass[glass['Location']=='USA']
glass_US['Indicator'] = glass_US['Indicator'].apply(lambda x: 'Glass '+ x)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [46]:
glass_US_df = glass_US.iloc[:,np.r_[0,1,6,21:29]]
# glass_df = glass_df.groupby(['Location','Indicator','Quarter']).agg(sum).reset_index()
glass_US_df = glass_US_df.groupby(['Indicator','Quarter']).agg(sum).reset_index()

In [47]:
# glass_df1 = glass_df.groupby(['Location','Indicator']).apply(data_preprocess).reset_index(drop=True)
# glass_df2 = glass_df1.groupby(['Location','Indicator','Year','Quarter'])['Output'].agg(sum).reset_index()
glass_US_df1 = glass_US_df.groupby(['Indicator']).apply(data_preprocess).reset_index(drop=True)
glass_US_df2 = glass_US_df1.groupby(['Indicator','Year','Quarter'])['Output'].agg(sum).reset_index()

In [48]:
# glass_df_final = glass_df2.groupby(['Location']).apply(indicator_output).reset_index(drop=True)
# glass_df_final = glass_df_final.rename(columns={'Location':'Country'})
glass_US_df_final = indicator_output(glass_US_df2)

In [49]:
df3 = df2.merge(glass_US_df_final, on=['Year','Quarter'], how='left')

In [50]:
df3.head()

,Year,Quarter,Sales,"Non-Residential (Commercial Buildings, SAAR)","Non-Residential (Commercial Buildings, NSA)",Total,1_unit,5_or_more_units,Northeast_total,Northeast_1_unit,Midwest_total,Midwest_1_unit,South_total,South_1_unit,West_total,West_1_unit,SE Rovings,ME Rovings,CSM,CFM,WUCS,Roofing Squares (MM),"Construction Gross output (sales), Real USD",Construction Production index,"Glass Gross operating surplus (profits), Nominal USD","Glass Gross output (sales), Nominal USD","Glass Investment, Nominal USD",Glass Production index,"Glass Value-added output, As a percent of GDP","Glass Value-added output, As a percent of manufacturing","Glass Value-added output, As a percent of world total"
0,2014,1,8647853.730,170283,12541,2802,1813,956,335,143,338,250,1467,995,662,425,64737.825,36052.315,2922.557,5503.443,109619.150,38.405,102.370,92.400,5.900,29.260,2.140,94.300,0.320,2.550,11.890
1,2014,2,8461779.130,180277,15438,2961,1901,1020,309,157,553,331,1432,982,667,431,70914.051,40857.178,3289.803,5391.995,114629.557,24.901,102.370,92.400,5.920,30.650,2.240,97.620,0.330,2.580,12.180
2,2014,3,9266477.580,195749,17561,3092,1964,1082,351,152,517,325,1513,1057,711,430,66637.093,37618.096,2952.944,5293.970,114817.009,26.659,102.370,92.400,6.160,31.660,2.320,100.210,0.330,2.620,12.360
3,2014,4,5635380.900,205298,17303,3148,2077,1025,316,157,499,334,1547,1128,786,458,61232.794,35650.407,2962.664,5310.114,98810.619,16.716,102.370,92.400,6.340,31.260,2.360,98.400,0.330,2.580,12.090
4,2015,1,6391238.860,192170,14251,2931,1914,983,255,122,381,262,1552,1071,743,459,63180.467,38475.425,7054.354,5701.126,85682.136,24.997,114.610,100.000,6.730,31.540,2.370,98.770,0.320,2.560,12.030

# Industrial_Production_Including_Construction_NACE_rv2_05-43_2000-2025

In [51]:
s3 = boto3.resource(
                    service_name='s3',
                    region_name = 'us-east-1',
                    aws_access_key_id= 'AKIAVNWCBZPGPW4OB7H7',
                    aws_secret_access_key='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')
s3_bucket_name='ssa-oc-bucket'
file_name= 'source/Oxford_Economics_Indicators/Global_Industry/Global_Industry_Forecasts_by_NACE_Code/Industrial_Production_Including_Construction_NACE_rv2_05-43_2000-2025_Quarterly.csv'
obj = s3.Object(s3_bucket_name, file_name)
data = obj.get()['Body'].read()
industrial_production = pd.read_csv(io.BytesIO(data),encoding='unicode_escape')

industrial_production.replace({"United States": "USA", "Venezuela,  RB": "Venezuela",
                                "Hong Kong,  China":"Hong Kong", "Egypt, Arab Rep.":"Egypt",
                                "Russia":"Russian Fed.", "Slovak Republic":"Slovakia",
                                "United Arab Emirates":"Utd.Arab Emir."}, inplace=True)

In [52]:
indicator_list = ['Gross output (sales), Nominal USD', 
        'Production index',
       'Value-added output, As a percent of world total',
       'Value-added output, As a percent of GDP',
       'Investment, Nominal USD',
       'Gross operating surplus (profits), Nominal USD']
industrial_production = industrial_production[industrial_production['Indicator'].isin(indicator_list)]

In [53]:
industrial_production_US = industrial_production[industrial_production['Location']=='USA']
industrial_production_US['Indicator'] = industrial_production_US['Indicator'].apply(lambda x: 'Industrial Production '+ x)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [54]:
industrial_production_US_df = industrial_production_US.iloc[:,np.r_[0,1,5,21:29]]
industrial_production_US_df = industrial_production_US_df.groupby(['Indicator','Quarter']).agg(sum).reset_index()

industrial_production_US_df1 = industrial_production_US_df.groupby(['Indicator']).apply(data_preprocess).reset_index(drop=True)
industrial_production_US_df2 = industrial_production_US_df1.groupby(['Indicator','Year','Quarter'])['Output'].agg(sum).reset_index()

industrial_production_US_df_final = indicator_output(industrial_production_US_df2)

In [55]:
df4 = df3.merge(industrial_production_US_df_final, on=['Year','Quarter'], how='left')

In [56]:
df4.head()

,Year,Quarter,Sales,"Non-Residential (Commercial Buildings, SAAR)","Non-Residential (Commercial Buildings, NSA)",Total,1_unit,5_or_more_units,Northeast_total,Northeast_1_unit,Midwest_total,Midwest_1_unit,South_total,South_1_unit,West_total,West_1_unit,SE Rovings,ME Rovings,CSM,CFM,WUCS,Roofing Squares (MM),"Construction Gross output (sales), Real USD",Construction Production index,"Glass Gross operating surplus (profits), Nominal USD","Glass Gross output (sales), Nominal USD","Glass Investment, Nominal USD",Glass Production index,"Glass Value-added output, As a percent of GDP","Glass Value-added output, As a percent of manufacturing","Glass Value-added output, As a percent of world total","Industrial Production Gross operating surplus (profits), Nominal USD","Industrial Production Gross output (sales), Nominal USD","Industrial Production Investment, Nominal USD",Industrial Production Production index,"Industrial Production Value-added output, As a percent of GDP","Industrial Production Value-added output, As a percent of world total"
0,2014,1,8647853.730,170283,12541,2802,1813,956,335,143,338,250,1467,995,662,425,64737.825,36052.315,2922.557,5503.443,109619.150,38.405,102.370,92.400,5.900,29.260,2.140,94.300,0.320,2.550,11.890,411.280,2252.180,220.990,95.160,19.280,18.120
1,2014,2,8461779.130,180277,15438,2961,1901,1020,309,157,553,331,1432,982,667,431,70914.051,40857.178,3289.803,5391.995,114629.557,24.901,102.370,92.400,5.920,30.650,2.240,97.620,0.330,2.580,12.180,416.430,2277.680,228.720,97.290,19.460,18.340
2,2014,3,9266477.580,195749,17561,3092,1964,1082,351,152,517,325,1513,1057,711,430,66637.093,37618.096,2952.944,5293.970,114817.009,26.659,102.370,92.400,6.160,31.660,2.320,100.210,0.330,2.620,12.360,415.710,2278.510,231.410,98.590,19.490,18.440
3,2014,4,5635380.900,205298,17303,3148,2077,1025,316,157,499,334,1547,1128,786,458,61232.794,35650.407,2962.664,5310.114,98810.619,16.716,102.370,92.400,6.340,31.260,2.360,98.400,0.330,2.580,12.090,407.200,2235.080,228.600,99.370,19.540,18.450
4,2015,1,6391238.860,192170,14251,2931,1914,983,255,122,381,262,1552,1071,743,459,63180.467,38475.425,7054.354,5701.126,85682.136,24.997,114.610,100.000,6.730,31.540,2.370,98.770,0.320,2.560,12.030,396.920,2155.650,223.960,99.920,19.470,18.370

# Manufacturing_NACE_rv2_10_to_33_2000-2025

In [57]:
s3 = boto3.resource(
                    service_name='s3',
                    region_name = 'us-east-1',
                    aws_access_key_id= 'AKIAVNWCBZPGPW4OB7H7',
                    aws_secret_access_key='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')
s3_bucket_name='ssa-oc-bucket'
file_name= 'source/Oxford_Economics_Indicators/Global_Industry/Global_Industry_Forecasts_by_NACE_Code/Manufacturing_NACE_rv2_10_to_33_2000-2025_Quarterly.csv'
obj = s3.Object(s3_bucket_name, file_name)
data = obj.get()['Body'].read()
manufacturing = pd.read_csv(io.BytesIO(data),encoding='latin1')

manufacturing.replace({"United States": "USA", "Venezuela,  RB": "Venezuela",
                                "Hong Kong,  China":"Hong Kong", "Egypt, Arab Rep.":"Egypt",
                                "Russia":"Russian Fed.", "Slovak Republic":"Slovakia",
                                "United Arab Emirates":"Utd.Arab Emir."}, inplace=True)

In [58]:
indicator_list = ['Gross output (sales), Nominal USD',
       'Production index',
       'Value-added output, As a percent of world total',
       'Value-added output, As a percent of GDP',
       'Investment, Nominal USD',
       'Gross operating surplus (profits), Nominal USD']
manufacturing = manufacturing[manufacturing['Indicator'].isin(indicator_list)]

In [59]:
manufacturing_US = manufacturing[manufacturing['Location']=='USA']
manufacturing_US['Indicator'] = manufacturing_US['Indicator'].apply(lambda x: 'Manufacturing '+ x)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [60]:
manufacturing_US_df = manufacturing_US.iloc[:,np.r_[0,1,6,21:29]]
manufacturing_US_df = manufacturing_US_df.groupby(['Indicator','Quarter']).agg(sum).reset_index()

manufacturing_US_df1 = manufacturing_US_df.groupby(['Indicator']).apply(data_preprocess).reset_index(drop=True)
manufacturing_US_df2 = manufacturing_US_df1.groupby(['Indicator','Year','Quarter'])['Output'].agg(sum).reset_index()

manufacturing_US_df_final = indicator_output(manufacturing_US_df2)

In [61]:
df5 = df4.merge(manufacturing_US_df_final, on=['Year','Quarter'], how='left')

In [62]:
df5.head()

,Year,Quarter,Sales,"Non-Residential (Commercial Buildings, SAAR)","Non-Residential (Commercial Buildings, NSA)",Total,1_unit,5_or_more_units,Northeast_total,Northeast_1_unit,Midwest_total,Midwest_1_unit,South_total,South_1_unit,West_total,West_1_unit,SE Rovings,ME Rovings,CSM,CFM,WUCS,Roofing Squares (MM),"Construction Gross output (sales), Real USD",Construction Production index,"Glass Gross operating surplus (profits), Nominal USD","Glass Gross output (sales), Nominal USD","Glass Investment, Nominal USD",Glass Production index,"Glass Value-added output, As a percent of GDP","Glass Value-added output, As a percent of manufacturing","Glass Value-added output, As a percent of world total","Industrial Production Gross operating surplus (profits), Nominal USD","Industrial Production Gross output (sales), Nominal USD","Industrial Production Investment, Nominal USD",Industrial Production Production index,"Industrial Production Value-added output, As a percent of GDP","Industrial Production Value-added output, As a percent of world total","Manufacturing Gross operating surplus (profits), Nominal USD","Manufacturing Gross output (sales), Nominal USD","Manufacturing Investment, Nominal USD",Manufacturing Production index,"Manufacturing Value-added output, As a percent of GDP","Manufacturing Value-added output, As a percent of world total"
0,2014,1,8647853.730,170283,12541,2802,1813,956,335,143,338,250,1467,995,662,425,64737.825,36052.315,2922.557,5503.443,109619.150,38.405,102.370,92.400,5.900,29.260,2.140,94.300,0.320,2.550,11.890,411.280,2252.180,220.990,95.160,19.280,18.120,250.890,1625.340,118.310,96.500,12.590,19.470
1,2014,2,8461779.130,180277,15438,2961,1901,1020,309,157,553,331,1432,982,667,431,70914.051,40857.178,3289.803,5391.995,114629.557,24.901,102.370,92.400,5.920,30.650,2.240,97.620,0.330,2.580,12.180,416.430,2277.680,228.720,97.290,19.460,18.340,249.940,1635.550,120.190,98.610,12.700,19.670
2,2014,3,9266477.580,195749,17561,3092,1964,1082,351,152,517,325,1513,1057,711,430,66637.093,37618.096,2952.944,5293.970,114817.009,26.659,102.370,92.400,6.160,31.660,2.320,100.210,0.330,2.620,12.360,415.710,2278.510,231.410,98.590,19.490,18.440,252.020,1639.950,121.940,99.670,12.690,19.700
3,2014,4,5635380.900,205298,17303,3148,2077,1025,316,157,499,334,1547,1128,786,458,61232.794,35650.407,2962.664,5310.114,98810.619,16.716,102.370,92.400,6.340,31.260,2.360,98.400,0.330,2.580,12.090,407.200,2235.080,228.600,99.370,19.540,18.450,254.590,1605.170,123.390,99.600,12.610,19.550
4,2015,1,6391238.860,192170,14251,2931,1914,983,255,122,381,262,1552,1071,743,459,63180.467,38475.425,7054.354,5701.126,85682.136,24.997,114.610,100.000,6.730,31.540,2.370,98.770,0.320,2.560,12.030,396.920,2155.650,223.960,99.920,19.470,18.370,257.490,1552.460,123.640,100.470,12.610,19.500

# Commodity_Prices_2000-2025

In [63]:
s3 = boto3.resource(
                    service_name='s3',
                    region_name = 'us-east-1',
                    aws_access_key_id= 'AKIAVNWCBZPGPW4OB7H7',
                    aws_secret_access_key='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')
s3_bucket_name='ssa-oc-bucket'
file_name= 'source/Oxford_Economics_Indicators/Global_Economics/Macroeconomic/Commodity_Prices_2000-2025_Quarterly.csv'
obj = s3.Object(s3_bucket_name, file_name)
data = obj.get()['Body'].read()
commodity_price = pd.read_csv(io.BytesIO(data),encoding='latin1')

commodity_price.replace({"United States": "USA", "Venezuela,  RB": "Venezuela",
                                "Hong Kong,  China":"Hong Kong", "Egypt, Arab Rep.":"Egypt",
                                "Russia":"Russian Fed.", "Slovak Republic":"Slovakia",
                                "United Arab Emirates":"Utd.Arab Emir."}, inplace=True)

In [64]:
commodity_price.head()

,Location,Year,Measurement,Quarter,"Coal, world balance, annualised","Coal, world demand, annualised","Coal, world known reserves","Coal, world production, annualised","Gas, world balance, annualised","Gas, world known reserves","Natural gas, world demand, annualised","Natural gas, world production, annualised",OECD Demand for Coal,OECD Demand for Gas,OECD Demand for Oil,"OECD Demand for total primary energy: Oil, Gas and Coal","Oil price real, index","Oil, bunker demand, annualised","Oil, land stocks, world, annualised","Oil, stockbuilding & discrepancy, world, annualised","Oil, world demand, annualised","Oil, world demand, annualised.1","Oil, world known reserves","Oil, world supply, annualised","Oil, world supply, annualised.1","Prices, raw materials, world","Prices, tin, world","Prices, zinc, world","Steel price, hot rolled coil (HRC)","Steel price, Plate (A36) domestic Ex-mill US Midwest $/short ton, nominal",World agriculture raw materials price,World aluminium price,"World aluminum price, constant exchange rates, US$",World beverages price,World coal price,"World coal price, coking","World coal price, steam","World commodity index price, non-fuel",World copper price,"World copper price, constant exchange rates, end of period","World copper price, constant exchange rates, US$","World Energy Prices: Oil, Gas and Coal",World fertilisers price,World food and beverages price,World food price,"World food price, end of period",World gas price,"World gas price, Europe",World gold price,"World gold price, constant exchange rates, end of period","World gold price, constant exchange rates, US$",World iron price,"World iron price, constant exchange rates, US$",World lead price,"World lead price, constant exchange rates, US$",World manufactures exports price,"World metals price, aggregate",World nickel price,"World nickel price, constant exchange rates, US$",World non-fuel exports price,"World oil price index, Brent crude spot,","World oil price, Brent crude spot, $pb","World oil price, Brent crude spot, end of period",World platinum price,"World platinum price, constant exchange rates, US$",World Price Oil (West Texas Intermediate),"World tin price, constant exchange rates, US$","World zinc price, constant exchange rates, US$",Location code
0,Advanced Economies,2000,Level values,Q1,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,Advanced Economies,2000,Level values,Q2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,Advanced Economies,2000,Level values,Q3,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,Advanced Economies,2000,Level values,Q4,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,Advanced Economies,2001,Level values,Q1,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [65]:
commodity_price_US = commodity_price[commodity_price['Location']=='USA']
ncol = commodity_price_US.shape[1]
commodity_price_US = commodity_price_US.iloc[:,np.r_[1,3:ncol-1]]

In [66]:
NA_list = commodity_price_US.columns[commodity_price_US.isna().sum()==commodity_price_US.shape[0]].tolist()
commodity_price_US_df = commodity_price_US[commodity_price_US.columns[~commodity_price_US.columns.isin(NA_list)]]

In [67]:
commodity_price_US_df['Quarter'] = commodity_price_US_df['Quarter'].str.extract('.*(\d{1})', expand = False).astype(int)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [68]:
df6 = df5.merge(commodity_price_US_df, on=['Year','Quarter'], how='left')

In [69]:
df6.head()

,Year,Quarter,Sales,"Non-Residential (Commercial Buildings, SAAR)","Non-Residential (Commercial Buildings, NSA)",Total,1_unit,5_or_more_units,Northeast_total,Northeast_1_unit,Midwest_total,Midwest_1_unit,South_total,South_1_unit,West_total,West_1_unit,SE Rovings,ME Rovings,CSM,CFM,WUCS,Roofing Squares (MM),"Construction Gross output (sales), Real USD",Construction Production index,"Glass Gross operating surplus (profits), Nominal USD","Glass Gross output (sales), Nominal USD","Glass Investment, Nominal USD",Glass Production index,"Glass Value-added output, As a percent of GDP","Glass Value-added output, As a percent of manufacturing","Glass Value-added output, As a percent of world total","Industrial Production Gross operating surplus (profits), Nominal USD","Industrial Production Gross output (sales), Nominal USD","Industrial Production Investment, Nominal USD",Industrial Production Production index,"Industrial Production Value-added output, As a percent of GDP","Industrial Production Value-added output, As a percent of world total","Manufacturing Gross operating surplus (profits), Nominal USD","Manufacturing Gross output (sales), Nominal USD","Manufacturing Investment, Nominal USD",Manufacturing Production index,"Manufacturing Value-added output, As a percent of GDP","Manufacturing Value-added output, As a percent of world total","Steel price, hot rolled coil (HRC)","Steel price, Plate (A36) domestic Ex-mill US Midwest $/short ton, nominal"
0,2014,1,8647853.730,170283,12541,2802,1813,956,335,143,338,250,1467,995,662,425,64737.825,36052.315,2922.557,5503.443,109619.150,38.405,102.370,92.400,5.900,29.260,2.140,94.300,0.320,2.550,11.890,411.280,2252.180,220.990,95.160,19.280,18.120,250.890,1625.340,118.310,96.500,12.590,19.470,650.990,883.000
1,2014,2,8461779.130,180277,15438,2961,1901,1020,309,157,553,331,1432,982,667,431,70914.051,40857.178,3289.803,5391.995,114629.557,24.901,102.370,92.400,5.920,30.650,2.240,97.620,0.330,2.580,12.180,416.430,2277.680,228.720,97.290,19.460,18.340,249.940,1635.550,120.190,98.610,12.700,19.670,667.780,919.000
2,2014,3,9266477.580,195749,17561,3092,1964,1082,351,152,517,325,1513,1057,711,430,66637.093,37618.096,2952.944,5293.970,114817.009,26.659,102.370,92.400,6.160,31.660,2.320,100.210,0.330,2.620,12.360,415.710,2278.510,231.410,98.590,19.490,18.440,252.020,1639.950,121.940,99.670,12.690,19.700,665.160,953.000
3,2014,4,5635380.900,205298,17303,3148,2077,1025,316,157,499,334,1547,1128,786,458,61232.794,35650.407,2962.664,5310.114,98810.619,16.716,102.370,92.400,6.340,31.260,2.360,98.400,0.330,2.580,12.090,407.200,2235.080,228.600,99.370,19.540,18.450,254.590,1605.170,123.390,99.600,12.610,19.550,628.290,908.500
4,2015,1,6391238.860,192170,14251,2931,1914,983,255,122,381,262,1552,1071,743,459,63180.467,38475.425,7054.354,5701.126,85682.136,24.997,114.610,100.000,6.730,31.540,2.370,98.770,0.320,2.560,12.030,396.920,2155.650,223.960,99.920,19.470,18.370,257.490,1552.460,123.640,100.470,12.610,19.500,536.210,766.000

# Key_Indicators_2000-2025

In [70]:
s3 = boto3.resource(
                    service_name='s3',
                    region_name = 'us-east-1',
                    aws_access_key_id= 'AKIAVNWCBZPGPW4OB7H7',
                    aws_secret_access_key='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')
s3_bucket_name='ssa-oc-bucket'
file_name= 'source/Oxford_Economics_Indicators/Global_Economics/Macroeconomic/Key_Indicators_2000-2025_Quarterly.csv'
obj = s3.Object(s3_bucket_name, file_name)
data = obj.get()['Body'].read()
key_indicators = pd.read_csv(io.BytesIO(data),encoding='latin1')

key_indicators.replace({"United States": "USA", "Venezuela,  RB": "Venezuela",
                                "Hong Kong,  China":"Hong Kong", "Egypt, Arab Rep.":"Egypt",
                                "Russia":"Russian Fed.", "Slovak Republic":"Slovakia",
                                "United Arab Emirates":"Utd.Arab Emir."}, inplace=True)

In [71]:
indicator_list = [
 'Current account of balance of payments in US$, share of GDP',
 'Employment, total.1',
 'External debt, total, US$',
 'Foreign direct investment, US$',
 'GDP per capita, nominal, US$',
 'GDP, nominal, US$',
 'Government balance, share of GDP',
 'Population, total',
 'Reserves, foreign exchange, US$',
 'Reserves, months of import cover',
 'Stockbuilding, real, share of GDP',
 'Visible trade balance, share of GDP',
'Consumer price index',
'Gross government debt (as a % of GDP)',
'Industrial production index',              
 'Interest rate, short-term',
 'Interest rate, Yield on 10-year Government Debt Securities (% per annum)',
'Services balance, as % of GDP',
 'Share price index',
'Unemployment rate',
 'Unemployment rate (Total, %)']

In [72]:
key_indicators.head()

,Location,Year,Measurement,Quarter,Consumer price index,Consumer price index.1,"Consumption, government, real, LCU","Consumption, government, real, LCU.1","Consumption, private, real, LCU","Consumption, private, real, LCU.1","Consumption, private, real, LCU.2","Current account of balance of payments in US$, share of GDP","Current account of balance of payments, LCU","Current account of balance of payments, US$","Employment, total","Employment, total.1","Exchange rate, period average","Exchange rate, period average.1","Exchange rate, period average, per Euro","Exports, goods & services, real, LCU","Exports, goods & services, real, LCU.1","Exports, goods & services, real, LCU.2","External debt, total, US$","Foreign direct investment, US$",GDP deflator,"GDP per capita, nominal, US$","GDP per capita, PPP exchange rate, nominal, US$","GDP per capita, PPP exchange rate, real, US$","GDP per capita, real, US$, constant prices","GDP, constant prices and exchange rate, US$","GDP, nominal, LCU","GDP, nominal, US$","GDP, PPP exchange rate, real, US$","GDP, PPP exchange rate, real, US$.1","GDP, real, LCU","GDP, real, LCU.1","GDP, real, LCU.2","Government balance, LCU","Government balance, share of GDP","Government debt, gross, LCU",Gross government debt (as a % of GDP),"Imports, goods & services, real, LCU","Imports, goods & services, real, LCU.1","Imports, goods & services, real, LCU.2",Industrial production index,"Interest rate, short-term","Interest rate, Yield on 10-year Government Debt Securities (% per annum)","Investment, total fixed investment, real, LCU","Investment, total fixed investment, real, LCU.1","Investment, total fixed investment, real, LCU.2","Population, total","Reserves, foreign exchange, US$","Reserves, months of import cover","Services balance, as % of GDP",Share price index,"Stockbuilding, real, LCU","Stockbuilding, real, LCU.1","Stockbuilding, real, share of GDP",Unemployment rate,"Unemployment rate (Total, %)","Visible trade balance, share of GDP",Location code
0,Advanced Economies,2000,Level values,Q1,nan,77.010,nan,nan,nan,nan,nan,nan,nan,-62968.250,447575.000,nan,nan,0.000,nan,nan,nan,nan,nan,nan,nan,6989.080,7405.700,9958.630,9176.100,8801450.000,6703700.000,6703700.000,nan,9552025.000,8543610.000,nan,8801450.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,5.350,nan,nan,nan,959170.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,Advanced Economies,2000,Level values,Q2,nan,77.010,nan,nan,nan,nan,nan,nan,nan,-62968.250,447575.000,nan,nan,0.000,nan,nan,nan,nan,nan,nan,nan,6989.080,7405.700,9958.630,9176.100,8801450.000,6703700.000,6703700.000,nan,9552025.000,8648290.000,nan,8801450.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,5.350,nan,nan,nan,959170.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,Advanced Economies,2000,Level values,Q3,nan,77.010,nan,nan,nan,nan,nan,nan,nan,-62968.250,447575.000,nan,nan,0.000,nan,nan,nan,nan,nan,nan,nan,6989.080,7405.700,9958.630,9176.100,8801450.000,6703700.000,6703700.000,nan,9552025.000,8682620.000,nan,8801450.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,5.350,nan,nan,nan,959170.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,Advanced Economies,2000,Level values,Q4,nan,77.010,nan,nan,nan,nan,nan,nan,nan,-62968.250,447575.000,nan,nan,0.000,nan,nan,nan,nan,nan,nan,nan,6989.080,7405.700,9958.630,9176.100,8801450.000,6703700.000,6703700.000,nan,9552025.000,8733480.000,nan,8801450.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,5.350,nan,nan,nan,959170.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,Advanced Economies,2001,Level values,Q1,nan,78.510,nan,nan,nan,nan,nan,nan,nan,-58192.250,450337.000,nan,nan,0.000,nan,nan,nan,nan,nan,nan,nan,6872.380,7637.150,10050.580,9259.630,8935825.000,6632050.000,6632050.000,nan,9699125.000,8766890.000,nan,8935825.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,4.630,nan,nan,nan,965032.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [73]:
key_indicators_US = key_indicators[key_indicators['Location']=='USA']

In [74]:
ncol = key_indicators_US.shape[1]
key_indicators_US = key_indicators_US[['Year','Quarter']+indicator_list]

NA_list = key_indicators_US.columns[key_indicators_US.isna().sum()==key_indicators_US.shape[0]].tolist()
key_indicators_US_df = key_indicators_US[key_indicators_US.columns[~key_indicators_US.columns.isin(NA_list)]]

In [75]:
key_indicators_US_df['Quarter'] = key_indicators_US_df['Quarter'].str.extract('.*(\d{1})', expand = False).astype(int)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [76]:
df7 = df6.merge(key_indicators_US_df, on=['Year','Quarter'], how='left')

In [77]:
df7.head()

,Year,Quarter,Sales,"Non-Residential (Commercial Buildings, SAAR)","Non-Residential (Commercial Buildings, NSA)",Total,1_unit,5_or_more_units,Northeast_total,Northeast_1_unit,Midwest_total,Midwest_1_unit,South_total,South_1_unit,West_total,West_1_unit,SE Rovings,ME Rovings,CSM,CFM,WUCS,Roofing Squares (MM),"Construction Gross output (sales), Real USD",Construction Production index,"Glass Gross operating surplus (profits), Nominal USD","Glass Gross output (sales), Nominal USD","Glass Investment, Nominal USD",Glass Production index,"Glass Value-added output, As a percent of GDP","Glass Value-added output, As a percent of manufacturing","Glass Value-added output, As a percent of world total","Industrial Production Gross operating surplus (profits), Nominal USD","Industrial Production Gross output (sales), Nominal USD","Industrial Production Investment, Nominal USD",Industrial Production Production index,"Industrial Production Value-added output, As a percent of GDP","Industrial Production Value-added output, As a percent of world total","Manufacturing Gross operating surplus (profits), Nominal USD","Manufacturing Gross output (sales), Nominal USD","Manufacturing Investment, Nominal USD",Manufacturing Production index,"Manufacturing Value-added output, As a percent of GDP","Manufacturing Value-added output, As a percent of world total","Steel price, hot rolled coil (HRC)","Steel price, Plate (A36) domestic Ex-mill US Midwest $/short ton, nominal","Current account of balance of payments in US$, share of GDP","Employment, total.1","External debt, total, US$","Foreign direct investment, US$","GDP per capita, nominal, US$","GDP, nominal, US$","Government balance, share of GDP","Population, total","Reserves, foreign exchange, US$","Reserves, months of import cover","Stockbuilding, real, share of GDP",Consumer price index,Gross government debt (as a % of GDP),Industrial production index,"Interest rate, short-term","Interest rate, Yield on 10-year Government Debt Securities (% per annum)",Share price index,Unemployment rate
0,2014,1,8647853.730,170283,12541,2802,1813,956,335,143,338,250,1467,995,662,425,64737.825,36052.315,2922.557,5503.443,109619.150,38.405,102.370,92.400,5.900,29.260,2.140,94.300,0.320,2.550,11.890,411.280,2252.180,220.990,95.160,19.280,18.120,250.890,1625.340,118.310,96.500,12.590,19.470,650.990,883.000,-2.110,145311.000,16572600.000,-149700.000,13469.500,4276150.000,-5.220,317468.000,48030.000,0.240,0.350,235.620,137.740,103.630,0.130,2.760,1834.300,6.670
1,2014,2,8461779.130,180277,15438,2961,1901,1020,309,157,553,331,1432,982,667,431,70914.051,40857.178,3289.803,5391.995,114629.557,24.901,102.370,92.400,5.920,30.650,2.240,97.620,0.330,2.580,12.180,416.430,2277.680,228.720,97.290,19.460,18.340,249.940,1635.550,120.190,98.610,12.700,19.670,667.780,919.000,-1.990,145913.000,17200900.000,-11900.000,13702.900,4358220.000,-5.130,318051.000,48188.000,0.240,0.590,236.870,135.660,105.000,0.130,2.620,1900.370,6.200
2,2014,3,9266477.580,195749,17561,3092,1964,1082,351,152,517,325,1513,1057,711,430,66637.093,37618.096,2952.944,5293.970,114817.009,26.659,102.370,92.400,6.160,31.660,2.320,100.210,0.330,2.620,12.360,415.710,2278.510,231.410,98.590,19.490,18.440,252.020,1639.950,121.940,99.670,12.690,19.700,665.160,953.000,-2.000,146569.000,17271800.000,-7300.000,13904.100,4430420.000,-5.290,318641.000,44506.000,0.220,0.620,237.480,135.610,105.630,0.130,2.500,1975.950,6.070
3,2014,4,5635380.900,205298,17303,3148,2077,1025,316,157,499,334,1547,1128,786,458,61232.794,35650.407,2962.664,5310.114,98810.619,16.716,102.370,92.400,6.340,31.260,2.360,98.400,0.330,2.580,12.090,407.200,2235.080,228.600,99.370,19.540,18.450,254.590,1605.170,123.390,99.600,12.610,19.550,628.290,908.500,-2.290,147482.000,17258100.000,33300.000,13978.200,4462480.000,-5.210,319245.000,41944.000,0.210,0.480,236.890,135.790,106.330,0.130,2.280,2012.040,5.700
4,2015,1,6391238.860,192170,14251,2931,1914,983,255,122,381,262,1552,1071,743,459,63180.467,38475.425,7054.354,5701.126,85682.136,24.997,114.610,100.000,6.730,31.540,2.370,98.770,0.320,2.560,12.030,396.920,2155.650,223.960,99.920,19.470,18.370,257.490,1552.460,123.640,100.470,12.610,19.500,536.210,766.000,-2.200,148106.000,17848000.000,144100.000,14072.900,4500850.000,-4.930,319823.000,38986.000,0.200,1.020,235.360,135.070,105.500,0.130,1.970,2063.460,5.530

# GDP_and_Domestic_Demand_2000-2025

In [78]:
s3 = boto3.resource(
                    service_name='s3',
                    region_name = 'us-east-1',
                    aws_access_key_id= 'AKIAVNWCBZPGPW4OB7H7',
                    aws_secret_access_key='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')
s3_bucket_name='ssa-oc-bucket'
file_name= 'source/Oxford_Economics_Indicators/Global_Economics/Macroeconomic/Detailed_Indicators(Not_Available_for_All_Locations)/GDP_and_Domestic_Demand_2000-2025_Quarterly.csv'
obj = s3.Object(s3_bucket_name, file_name)
data = obj.get()['Body'].read()
GDP = pd.read_csv(io.BytesIO(data),encoding='latin1')  

GDP.replace({"United States": "USA", "Venezuela,  RB": "Venezuela",
                                "Hong Kong,  China":"Hong Kong", "Egypt, Arab Rep.":"Egypt",
                                "Russia":"Russian Fed.", "Slovak Republic":"Slovakia",
                                "United Arab Emirates":"Utd.Arab Emir."}, inplace=True)

In [79]:
GDP_US = GDP[GDP['Location']=='USA']

In [80]:
indicator_list = [
 'Capacity utilisation',
 'Consumption, government, nominal, US$',
 'Consumption, government, PPP exchange rate, nominal, US$',
 'Consumption, private, nominal, US$',
 'Consumption, private, PPP exchange rate, nominal, US$',
 'Exports, goods & services, PPP exchange rate, nominal, US$',
 'GDP per capita, nominal, US$',
 'GDP per capita, PPP exchange rate, nominal, US$',
 'GDP, industry, real',
 'GDP, nominal, US$',
 'GDP, US$ prices & PPP exchange rate, nominal',
 'Gross value added in construction, real',
 'Gross value added in services, real',
 'Imports, goods, PPP exchange rate, nominal, US$',
 'Investment, construction, real',
 'Investment, government, nominal',
 'Investment, machinery & equipment, nominal',
 'Investment, private, non-residential structures, nominal',
 'Investment, total fixed investment, nominal, US$',
 'Net investment, nominal, US$',
 'Stockbuilding, nominal, US$',
 'Output gap',
 'Productivity, trend',
 'Stockbuilding, real, annual contribution to growth',
 'Consumption, government, nominal, share of GDP',
 'Consumption, government, nominal, share of GDP.1',
 'Consumption, private, nominal, share of GDP',
 'Consumption, private, nominal, share of GDP.1',
 'Exports, goods & services, constant prices and exchange rate, US$, % of World',
 'GDP, constant prices and exchange rate, US$, % of World',
 'GDP, PPP exchange rate, real, US$, % of World',
 'GVA Agriculture share of GVA',
 'GVA Industry share of GVA',
 'GVA Manufacturing of GVA',
 'GVA Services, share of GVA',
 'Imports, goods & services, constant prices and exchange rate, US$, % of World',
 'Industrial production index',
 'Industrial production index.1',
 'Investment, total fixed, nominal, share of GDP',
 'Stockbuilding, nominal, share of GDP',
 'Stockbuilding, nominal, share of GDP.1',
 'Trend productivity target',
 'World trade index']

In [81]:
GDP_US.head()

,Location,Year,Measurement,Quarter,Capacity utilisation,"Capital stock, real, LCU","Consumption, government, constant prices and exchange rate (latest year), US$","Consumption, government, constant prices and exchange rate, seasonally adjusted (latest year), US$","Consumption, government, constant prices and exchange rate, US$","Consumption, government, constant prices and exchange rate, US$.1","Consumption, government, nominal, LCU","Consumption, government, nominal, share of GDP","Consumption, government, nominal, share of GDP.1","Consumption, government, nominal, US$","Consumption, government, PPP exchange rate, nominal, US$","Consumption, government, PPP exchange rate, real, US$","Consumption, government, real, LCU","Consumption, government, real, LCU.1","Consumption, government, real, share of GDP","Consumption, private, constant prices and exchange rate (latest year), US$","Consumption, private,const prices & exch rate, US$","Consumption, private, constant prices and exchange rate,seasonally adjusted (latest year), US$","Consumption, private, nominal, LCU","Consumption, private, nominal, share of GDP","Consumption, private, nominal, share of GDP.1","Consumption, private, nominal, US$","Consumption, private, PPP exchange rate, nominal, US$","Consumption, private, PPP exchange rate, real, US$","Consumption, private, real, LCU","Consumption, private, real, LCU.1","Consumption, private,const prices & exch rate, US$.1","Domestic demand, nominal, LCU","Domestic demand, real, LCU","Exports, goods & services, constant prices and exchange rate (latest year), US$","Exports, goods & services, constant prices and exchange rate, seasonally adjusted (latest year), US$","Exports, goods & services, constant prices and exchange rate, US$","Exports, goods & services, constant prices and exchange rate, US$, % of World","Exports, goods & services, nominal, LCU","Exports, goods & services, PPP exchange rate, nominal, US$","Exports, goods & services, PPP exchange rate, real, US$","Exports, goods & services, real, LCU","Exports, goods & services, real, LCU.1","Exports, goods, PPP exchange rate, nominal, US$","Exports, goods, PPP exchange rate, real, US$","GDP per capita, nominal, US$","GDP per capita, PPP exchange rate, nominal, US$","GDP per capita, PPP exchange rate, real, US$","GDP per capita, real, US$, constant prices","GDP, agriculture, real, LCU","GDP, constant prices and exchange rate (latest year), US$","GDP, constant prices and exchange rate, Euro","GDP, constant prices and exchange rate, seasonally adjusted (latest year), US$","GDP, constant prices and exchange rate, US$","GDP, constant prices and exchange rate, US$, % of World","GDP, constant prices and exchange rate, US$.1","GDP, current prices and exchange rate (latest year), US$","GDP, industry, real","GDP, manufacturing, real, LCU","GDP, nominal, LCU","GDP, nominal, US$","GDP, excluding oil, nominal, LCU","GDP, excluding oil, real, LCU","GDP, oil, nominal, LCU","GDP, oil, real, LCU","GDP, other, real, LCU","GDP, PPP exchange rate, real, US$","GDP, PPP exchange rate, real, US$.1","GDP, PPP exchange rate, real, US$, % of World","GDP, real, annual growth","GDP, real, Asia Pacific","GDP, real, at basic prices, LCU","GDP, real, LCU","GDP, real, LCU.1","GDP, real, LCU, NSA","GDP, real, mainland","GDP, services, real, LCU","GDP, US$ prices & PPP exchange rate, nominal","GDP,constant prices &exchange rate,South East Asia",Gross national savings as % of gross domestic investment,"Gross value added in agriculture and forestry, real, LCU","Gross value added in construction, real","Gross value added in industry, real, LCU","Gross value added in manufacturing, real, LCU","Gross value added in services, real","Gross value added, real, LCU",GVA Agriculture share of GVA,GVA Industry share of GVA,GVA Manufacturing of GVA,"GVA Services, share of GVA","Imports, goods & services, constant prices and exchange rate (latest year), US$","Imports, goods & services, constant prices and exchange rate, seasonally adjusted (latest year), US$","Imports, goods & services, constant prices and exchange rate, US$","Imports, goods & services, constant prices and exchange rate, US$, % of World","Imports, goods & services, nominal, LCU","Imports, goods & services, PPP exchange rate, nominal, US$","Imports, goods & services, PPP exchange rate, real, US$","Imports, goods & services, real, LCU","Imports, goods & services, real, LCU.1","Imports, goods, PPP exchange rate, nominal, US$","Imports, goods, PPP exchange rate, real, US$",Industrial production index,Industrial production index.1,"Industrial production index (North American, excluding Mexico)","Industrial production index , Australia and New Zealand","Industrial production index, ASEAN","Industrial production index, Asia Pacific","Industrial production index, CIS","Industrial production index, Greater China","Industrial production index, Latin America including Mexico & Venezuela","Industrial production index, M.East & N.Africa","Industrial production index, Middle East","Industrial production index, Pacific (Oceania)","Industrial production, OECD PPPs","Industrial value added, real [Yuan; Billions: 2015 prices]","Investment, construction, real","Investment, government, nominal","Investment, government, real, LCU","Investment, government, real, LCU.1","Investment, intellectual property, real","Investment, machinery & equipment, nominal","Investment, machinery & equipment, real","Investment, private dwellings, real, LCU","Investment, private sector business, real, LCU","Investment, private, non-residential structures, nominal","Investment, private, non-residential structures, real","Investment, total fixed investment, constant prices and exchange rate (latest year), US$","Investment, total fixed investment, constant prices and exchange rate, seasonally adjusted (latest year), US$","Investment, total fixed investment, constant prices and exchange rate, US$","Investment, total fixed investment, constant prices and exchange rate, US$.1","Investment, total fixed investment, nominal, LCU","Investment, total fixed investment, nominal, share of GDP","Investment, total fixed investment, nominal, US$","Investment, total fixed investment, PPP exchange rate, nominal, US$","Investment, total fixed investment, real, LCU","Investment, total fixed investment, real, LCU.1","Investment, total fixed, nominal, share of GDP","Investment, total fixed, PPP exch rate, real, US$",Li Keqiang index,"National savings, LCU","Net investment, nominal, US$",Output gap,"Potential output, LCU","Productivity trend, LCU","Productivity, trend","Statistical discrepancy in National Accounts, real, LCU","Stockbuilding, constant prices and exchange rate, real, US$","Stockbuilding, nominal, LCU","Stockbuilding, nominal, share of GDP","Stockbuilding, nominal, share of GDP.1","Stockbuilding, nominal, US$","Stockbuilding, real, annual contribution to growth","Stockbuilding, real, LCU","Stockbuilding, real, LCU.1","Stockbuilding, real, share of GDP","Stocks, total stock levels, real, LCU","Total final expenditure, real, LCU",Trend productivity target,World trade index,Location code
9900,USA,2000,Level values,Q1,82.200,15462.800,608547.000,nan,554471.000,554471.000,350.380,nan,14.010,350375.000,350375000.000,739049.000,528.950,528.950,nan,2367820.000,2195000.000,nan,1653.400,nan,66.120,1653400.000,1653400000.000,2925690.000,2130.180,2130.180,2195000.000,2588.750,3364.600,320770.000,nan,318906.000,13.670,263.550,263550000.000,425066.000,334.300,334.300,190400000.000,291815.000,8901.090,8901.090,12032.400,12032.400,38.920,3671270.000,3046610.000,nan,3380470.000,28.460,3380470.000,2500720.000,539.340,412.980,2500.730,2500720.000,nan,nan,nan,nan,nan,3380470.000,3380470.000,20.640,4.200,nan,nan,3231.050,3231.050,nan,nan,2555.280,2500720.000,nan,nan,39.400,193.950,539.340,412.980,2555.280,3327.970,1.180,16.210,12.410,76.780,408772.000,nan,418195.000,17.590,351.580,351575000.000,557407.000,463.480,463.480,298425000.000,458061.000,92.130,92.130,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,282.220,97.300,132.500,nan,103.520,187.350,162.950,163.650,392.250,75.150,138.050,776717.000,nan,725181.000,725181.000,580.930,nan,580925.000,580925000.000,697.230,697.230,23.230,966586.000,nan,535.780,45150.000,1.320,3188.600,23650.000,nan,0.900,5102.750,4.050,0.160,nan,4050.000,nan,5.350,5.350,0.170,2061.200,3698.900,23.570,54.680,nan
9901,USA,2000,Level values,Q2,82.330,15628.100,618901.000,nan,563906.000,563906.000,359.330,nan,14.030,359325.000,359325000.000,751624.000,537.950,537.950,nan,2390690.000,2216200.000,nan,1676.880,nan,65.450,1676880.000,1676870000.000,2953950.000,2150.750,2150.750,2216200.000,2651.580,3428.500,329885.000,nan,327969.000,13.680,273.130,273125000.000,437146.000,343.800,343.800,197575000.000,300487.000,9094.110,9094.110,12219.400,12219.400,40.990,3738480.000,3102380.000,nan,3442350.000,28.620,3442350.000,2561920.000,548.110,423.790,2561.930,2561920.000,nan,nan,nan,nan,nan,3442350.000,3442350.000,20.830,5.300,nan,nan,3290.200,3290.200,nan,nan,2588.210,2561920.000,nan,nan,40.500,196.810,548.110,423.790,2588.210,3373.630,1.200,16.250,12.560,76.720,421450.000,nan,431166.000,17.600,362.800,362800000.000,574696.000,477.850,477.850,307800000.000,470963.000,93.270,93.270,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,285.940,96.450,130.350,nan,104.780,193.500,168.980,162.830,404.500,79.050,143.930,788888.000,nan,736544.000,736544.000,592.780,nan,592775.000,592775000.000,708.150,708.150,23.140,981732.000,nan,531.200,61575.000,2.120,3221.270,24025.400,nan,-0.100,28897.500,22.600,0.880,nan,22600.000,nan,30.900,30.900,0.940,2092.100,3772.300,23.780,56.160,nan
9902,USA,2000,Level values,Q3,81.430,15793.500,616313.000,nan,561547.000,561547.000,361.530,nan,14.010,361525.000,361525000.000,748480.000,535.700,535.700,nan,2414170.000,2237970.000,nan,1703.850,nan,66.040,1703850.000,1703850000.000,2982960.000,2171.880,2171.880,2237970.000,2676.900,3440.650,337945.000,nan,335982.000,13.650,281.080,281075000.000,447826.000,352.200,352.200,205275000.000,311318.000,9135.040,9135.040,12204.900,12204.900,41.270,3743480.000,3106530.000,nan,3446950.000,28.480,3446950.000,2579950.000,548.320,425.100,2579.950,2579950.000,nan,nan,nan,nan,nan,3446950.000,3446950.000,20.770,4.080,nan,nan,3294.600,3294.600,nan,nan,2595.900,2579950.000,nan,nan,40.890,197.260,548.320,425.100,2595.900,3382.380,1.210,16.210,12.570,76.750,436157.000,nan,446211.000,17.650,378.030,378025000.000,594750.000,494.530,494.530,320625000.000,486958.000,93.200,93.200,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,287.240,96.550,129.730,nan,105.370,193.500,169.550,160.280,408.900,82.730,149.050,791144.000,nan,738651.000,738651.000,597.230,nan,597225.000,597225000.000,710.180,710.180,23.150,984539.000,nan,535.500,61725.000,1.280,3252.850,24101.800,nan,0.930,19018.800,14.300,0.550,nan,14300.000,nan,21.830,21.830,0.660,2113.900,3792.850,24.040,58.090,nan
9903,USA,2000,Level values,Q4,80.430,15958.800,618412.000,nan,563460.000,563460.000,366.730,nan,14.050,366725.000,366725000.000,751030.000,537.530,537.530,nan,2434930.000,2257210.000,nan,1728.030,nan,66.210,1728020.000,1728020000.000,3008610.000,2190.550,2190.550,2257210.000,2710.120,3464.230,335067.000,nan,333120.000,13.370,278.530,278525000.000,444012.000,349.200,349.200,202675000.000,306907.000,9217.380,9217.380,12250.100,12250.100,40.630,3766800.000,3125880.000,nan,3468430.000,28.460,3468430.000,2609750.000,539.970,416.890,2609.750,2609750.000,nan,nan,nan,nan,nan,3468430.000,3468430.000,20.800,2.970,nan,nan,3315.120,3315.120,nan,nan,2609.790,2609750.000,nan,nan,41.000,195.300,539.970,416.890,2609.790,3386.050,1.210,15.950,12.310,77.070,436091.000,nan,446144.000,17.340,378.900,378900000.000,594660.000,494.450,494.450,323250000.000,488447.000,92.900,92.900,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,287.880,98.580,131.780,nan,106.880,191.750,169.230,160.450,410.450,84.080,149.630,795182.000,nan,742421.000,742421.000,601.800,nan,601800.000,601800000.000,713.800,713.800,23.060,989565.000,nan,517.280,84525.000,0.970,3282.980,24137.900,nan,1.200,18359.500,13.580,0.520,nan,13575.000,nan,20.580,20.580,0.620,2134.500,3813.430,24.180,59.650,nan
9904,USA,2001,Level values,Q1,78.630,16081.200,628019.000,nan,572213.000,572213.000,376.130,nan,14.370,376125.000,376125000.000,762696.000,545.880,545.880,nan,2444690.000,2266250.000,nan,1746.720,nan,66.710,1746720.000,1746720000.000,3020660.000,2199.320,2199.320,2266250.000,2715.930,3452.230,330125.000,nan,328207.000,13.190,273.780,273775000.000,437464.000,344.050,344.050,199275000.000,302251.000,9223.940,9223.940,12184.400,12184.400,39.400,3756060.000,3116970.000,nan,3458540.000,28.250,3458540.000,2618220.000,529.360,406.890,2618.230,2618220.000,nan,nan,nan,nan,nan,3458540.000,3458540.000,20.470,2.310,nan,nan,3305.680,3305.680,nan,nan,2620.080,2618220.000,nan,nan,39.170,193.500,529.360,406.890,2620.080,3382.110,1.160,15.650,12.030,77.470,429101.000,nan,438993.000,17.290,371.450,371450000.000,585129.000,486.530,486.530,315650000.000,479398.000,91.730,91.730,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,285.400,100.230,133.700,nan,107.240,187.930,167.950,161.150,406.780,82.950,145.530,793205.000,nan,740575.000,740575.000,600.730,nan,600725.000,600725000.000,712.030,712.030,22.940,987104.000,nan,535.980,64750.000,-0.180,3311.770,24002.100,nan,5.280,-9713.250,-7.650,-0.290,nan,-7650.000,nan,-11.400,-11.400,-0.340,2123.100,3796.270,24.240,58.030,nan

In [82]:
ncol = GDP_US.shape[1]
GDP_US = GDP_US[['Year','Quarter']+indicator_list]

NA_list = GDP_US.columns[GDP_US.isna().sum()==GDP_US.shape[0]].tolist()
GDP_US_df = GDP_US[GDP_US.columns[~GDP_US.columns.isin(NA_list)]]

In [83]:
GDP_US_df['Quarter'] = GDP_US_df['Quarter'].str.extract('.*(\d{1})', expand = False).astype(int)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [84]:
GDP_US_df1 = pd.concat([GDP_US_df[['Year','Quarter']], 
                       GDP_US_df[GDP_US_df.columns.difference(df7.columns.tolist())]], axis=1)

In [85]:
df8 = df7.merge(GDP_US_df1, on=['Year','Quarter'], how='left')

In [86]:
df8.head()

,Year,Quarter,Sales,"Non-Residential (Commercial Buildings, SAAR)","Non-Residential (Commercial Buildings, NSA)",Total,1_unit,5_or_more_units,Northeast_total,Northeast_1_unit,Midwest_total,Midwest_1_unit,South_total,South_1_unit,West_total,West_1_unit,SE Rovings,ME Rovings,CSM,CFM,WUCS,Roofing Squares (MM),"Construction Gross output (sales), Real USD",Construction Production index,"Glass Gross operating surplus (profits), Nominal USD","Glass Gross output (sales), Nominal USD","Glass Investment, Nominal USD",Glass Production index,"Glass Value-added output, As a percent of GDP","Glass Value-added output, As a percent of manufacturing","Glass Value-added output, As a percent of world total","Industrial Production Gross operating surplus (profits), Nominal USD","Industrial Production Gross output (sales), Nominal USD","Industrial Production Investment, Nominal USD",Industrial Production Production index,"Industrial Production Value-added output, As a percent of GDP","Industrial Production Value-added output, As a percent of world total","Manufacturing Gross operating surplus (profits), Nominal USD","Manufacturing Gross output (sales), Nominal USD","Manufacturing Investment, Nominal USD",Manufacturing Production index,"Manufacturing Value-added output, As a percent of GDP","Manufacturing Value-added output, As a percent of world total","Steel price, hot rolled coil (HRC)","Steel price, Plate (A36) domestic Ex-mill US Midwest $/short ton, nominal","Current account of balance of payments in US$, share of GDP","Employment, total.1","External debt, total, US$","Foreign direct investment, US$","GDP per capita, nominal, US$","GDP, nominal, US$","Government balance, share of GDP","Population, total","Reserves, foreign exchange, US$","Reserves, months of import cover","Stockbuilding, real, share of GDP",Consumer price index,Gross government debt (as a % of GDP),Industrial production index,"Interest rate, short-term","Interest rate, Yield on 10-year Government Debt Securities (% per annum)",Share price index,Unemployment rate,Capacity utilisation,"Consumption, government, PPP exchange rate, nominal, US$","Consumption, government, nominal, US$","Consumption, government, nominal, share of GDP.1","Consumption, private, PPP exchange rate, nominal, US$","Consumption, private, nominal, US$","Consumption, private, nominal, share of GDP.1","Exports, goods & services, PPP exchange rate, nominal, US$","Exports, goods & services, constant prices and exchange rate, US$, % of World","GDP per capita, PPP exchange rate, nominal, US$","GDP, PPP exchange rate, real, US$, % of World","GDP, US$ prices & PPP exchange rate, nominal","GDP, constant prices and exchange rate, US$, % of World","GDP, industry, real",GVA Agriculture share of GVA,GVA Industry share of GVA,GVA Manufacturing of GVA,"GVA Services, share of GVA","Gross value added in construction, real","Gross value added in services, real","Imports, goods & services, constant prices and exchange rate, US$, % of World","Imports, goods, PPP exchange rate, nominal, US$",Industrial production index.1,"Investment, construction, real","Investment, government, nominal","Investment, machinery & equipment, nominal","Investment, private, non-residential structures, nominal","Investment, total fixed investment, nominal, US$","Investment, total fixed, nominal, share of GDP","Net investment, nominal, US$",Output gap,"Stockbuilding, nominal, US$","Stockbuilding, nominal, share of GDP",Trend productivity target,World trade index
0,2014,1,8647853.730,170283,12541,2802,1813,956,335,143,338,250,1467,995,662,425,64737.825,36052.315,2922.557,5503.443,109619.150,38.405,102.370,92.400,5.900,29.260,2.140,94.300,0.320,2.550,11.890,411.280,2252.180,220.990,95.160,19.280,18.120,250.890,1625.340,118.310,96.500,12.590,19.470,650.990,883.000,-2.110,145311.000,16572600.000,-149700.000,13469.500,4276150.000,-5.220,317468.000,48030.000,0.240,0.350,235.620,137.740,103.630,0.130,2.760,1834.300,6.670,77.870,637175000.000,637175.000,14.900,2893550000.000,2893550.000,67.670,583975000.000,11.660,13472.800,16.220,4276150.000,24.220,653.540,1.260,15.790,11.940,79.520,142.240,3291.350,14.100,591100000.000,100.870,240.450,147.180,264.550,136.680,858925.000,20.090,71400.000,-3.560,13075.000,0.310,29.350,107.060
1,2014,2,8461779.130,180277,15438,2961,1901,1020,309,157,553,331,1432,982,667,431,70914.051,40857.178,3289.803,5391.995,114629.557,24.901,102.370,92.400,5.920,30.650,2.240,97.620,0.330,2.580,12.180,416.430,2277.680,228.720,97.290,19.460,18.340,249.940,1635.550,120.190,98.610,12.700,19.670,667.780,919.000,-1.990,145913.000,17200900.000,-11900.000,13702.900,4358220.000,-5.130,318051.000,48188.000,0.240,0.590,236.870,135.660,105.000,0.130,2.620,1900.370,6.200,78.700,637675000.000,637675.000,14.630,2939220000.000,2939220.000,67.440,596775000.000,11.680,13706.400,16.360,4358220.000,24.360,671.020,1.260,15.990,12.040,79.310,144.440,3327.600,14.310,601800000.000,102.200,248.540,150.650,271.300,143.680,884150.000,20.290,46000.000,-2.660,24100.000,0.550,29.450,109.730
2,2014,3,9266477.580,195749,17561,3092,1964,1082,351,152,517,325,1513,1057,711,430,66637.093,37618.096,2952.944,5293.970,114817.009,26.659,102.370,92.400,6.160,31.660,2.320,100.210,0.330,2.620,12.360,415.710,2278.510,231.410,98.590,19.490,18.440,252.020,1639.950,121.940,99.670,12.690,19.700,665.160,953.000,-2.000,146569.000,17271800.000,-7300.000,13904.100,4430420.000,-5.290,318641.000,44506.000,0.220,0.620,237.480,135.610,105.630,0.130,2.500,1975.950,6.070,78.900,646100000.000,646100.000,14.580,2978850000.000,2978850.000,67.240,597975000.000,11.550,13907.900,16.450,4430420.000,24.430,684.000,1.250,16.100,12.020,79.250,144.380,3366.760,14.190,598625000.000,102.800,250.760,151.630,279.250,146.500,903675.000,20.400,47100.000,-1.900,24850.000,0.560,29.450,110.350
3,2014,4,5635380.900,205298,17303,3148,2077,1025,316,157,499,334,1547,1128,786,458,61232.794,35650.407,2962.664,5310.114,98810.619,16.716,102.370,92.400,6.340,31.260,2.360,98.400,0.330,2.580,12.090,407.200,2235.080,228.600,99.370,19.540,18.450,254.590,1605.170,123.390,99.600,12.610,19.550,628.290,908.500,-2.290,147482.000,17258100.000,33300.000,13978.200,4462480.000,-5.210,319245.000,41944.000,0.210,0.480,236.890,135.790,106.330,0.130,2.280,2012.040,5.700,79.130,644475000.000,644475.000,14.440,3011120000.000,3011120.000,67.480,592975000.000,11.540,13982.200,16.460,4462480.000,24.390,691.380,1.260,16.180,11.930,79.130,146.680,3381.310,14.320,600025000.000,103.430,257.230,153.100,276.850,150.750,916025.000,20.530,41600.000,-1.790,21950.000,0.490,29.470,110.900
4,2015,1,6391238.860,192170,14251,2931,1914,983,255,122,381,262,1552,1071,743,459,63180.467,38475.425,7054.354,5701.126,85682.136,24.997,114.610,100.000,6.730,31.540,2.370,98.770,0.320,2.560,12.030,396.920,2155.650,223.960,99.920,19.470,18.370,257.490,1552.460,123.640,100.470,12.610,19.500,536.210,766.000,-2.200,148106.000,17848000.000,144100.000,14072.900,4500850.000,-4.930,319823.000,38986.000,0.200,1.020,235.360,135.070,105.500,0.130,1.970,2063.460,5.530,78.130,645025000.000,645025.000,14.330,3024770000.000,3024780.000,67.200,573750000.000,11.400,14077.100,16.340,4500850.000,24.410,697.690,1.310,16.160,11.920,79.100,148.090,3415.370,14.560,582250000.000,102.300,258.340,152.000,278.900,149.230,919350.000,20.430,42000.000,-1.300,43900.000,0.980,29.490,108.630

# Housing_Market_2000-2025

In [87]:
s3 = boto3.resource(
                    service_name='s3',
                    region_name = 'us-east-1',
                    aws_access_key_id= 'AKIAVNWCBZPGPW4OB7H7',
                    aws_secret_access_key='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')
s3_bucket_name='ssa-oc-bucket'
file_name= 'source/Oxford_Economics_Indicators/Global_Economics/Macroeconomic/Detailed_Indicators(Not_Available_for_All_Locations)/Housing_Market_2000-2025_Quarterly.csv'
obj = s3.Object(s3_bucket_name, file_name)
data = obj.get()['Body'].read()
housing_market = pd.read_csv(io.BytesIO(data),encoding='latin1')  

housing_market.replace({"United States": "USA", "Venezuela,  RB": "Venezuela",
                                "Hong Kong,  China":"Hong Kong", "Egypt, Arab Rep.":"Egypt",
                                "Russia":"Russian Fed.", "Slovak Republic":"Slovakia",
                                "United Arab Emirates":"Utd.Arab Emir."}, inplace=True)

In [88]:
housing_market.head()

,Location,Year,Measurement,Quarter,House price index,Housing starts,Interest rate on building society mortgages,"Market value of housing stock, LCU",Residential property transactions,Stock of owner-occupied houses,Location code
0,Advanced Economies,2000,Level values,Q1,nan,nan,nan,nan,nan,nan,nan
1,Advanced Economies,2000,Level values,Q2,nan,nan,nan,nan,nan,nan,nan
2,Advanced Economies,2000,Level values,Q3,nan,nan,nan,nan,nan,nan,nan
3,Advanced Economies,2000,Level values,Q4,nan,nan,nan,nan,nan,nan,nan
4,Advanced Economies,2001,Level values,Q1,nan,nan,nan,nan,nan,nan,nan

In [89]:
housing_market_US = housing_market[housing_market['Location']=='USA']

In [90]:
indicator_list = ['Housing starts', 'Interest rate on building society mortgages',
       'Market value of housing stock, LCU',
       'Residential property transactions', 'Stock of owner-occupied houses','House price index']

In [91]:
ncol = housing_market_US.shape[1]
housing_market_US = housing_market_US[['Year','Quarter']+indicator_list]

NA_list = housing_market_US.columns[housing_market_US.isna().sum()==housing_market_US.shape[0]].tolist()
housing_market_US_df = housing_market_US[housing_market_US.columns[~housing_market_US.columns.isin(NA_list)]]

In [92]:
housing_market_US_df['Quarter'] = housing_market_US_df['Quarter'].str.extract('.*(\d{1})', expand = False).astype(int)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [93]:
housing_market_US_df1 = pd.concat([housing_market_US_df[['Year','Quarter']], 
                       housing_market_US_df[housing_market_US_df.columns.difference(df8.columns.tolist())]], axis=1)

In [94]:
df9 = df8.merge(housing_market_US_df1, on=['Year','Quarter'], how='left')

In [95]:
df9.head()

,Year,Quarter,Sales,"Non-Residential (Commercial Buildings, SAAR)","Non-Residential (Commercial Buildings, NSA)",Total,1_unit,5_or_more_units,Northeast_total,Northeast_1_unit,Midwest_total,Midwest_1_unit,South_total,South_1_unit,West_total,West_1_unit,SE Rovings,ME Rovings,CSM,CFM,WUCS,Roofing Squares (MM),"Construction Gross output (sales), Real USD",Construction Production index,"Glass Gross operating surplus (profits), Nominal USD","Glass Gross output (sales), Nominal USD","Glass Investment, Nominal USD",Glass Production index,"Glass Value-added output, As a percent of GDP","Glass Value-added output, As a percent of manufacturing","Glass Value-added output, As a percent of world total","Industrial Production Gross operating surplus (profits), Nominal USD","Industrial Production Gross output (sales), Nominal USD","Industrial Production Investment, Nominal USD",Industrial Production Production index,"Industrial Production Value-added output, As a percent of GDP","Industrial Production Value-added output, As a percent of world total","Manufacturing Gross operating surplus (profits), Nominal USD","Manufacturing Gross output (sales), Nominal USD","Manufacturing Investment, Nominal USD",Manufacturing Production index,"Manufacturing Value-added output, As a percent of GDP","Manufacturing Value-added output, As a percent of world total","Steel price, hot rolled coil (HRC)","Steel price, Plate (A36) domestic Ex-mill US Midwest $/short ton, nominal","Current account of balance of payments in US$, share of GDP","Employment, total.1","External debt, total, US$","Foreign direct investment, US$","GDP per capita, nominal, US$","GDP, nominal, US$","Government balance, share of GDP","Population, total","Reserves, foreign exchange, US$","Reserves, months of import cover","Stockbuilding, real, share of GDP",Consumer price index,Gross government debt (as a % of GDP),Industrial production index,"Interest rate, short-term","Interest rate, Yield on 10-year Government Debt Securities (% per annum)",Share price index,Unemployment rate,Capacity utilisation,"Consumption, government, PPP exchange rate, nominal, US$","Consumption, government, nominal, US$","Consumption, government, nominal, share of GDP.1","Consumption, private, PPP exchange rate, nominal, US$","Consumption, private, nominal, US$","Consumption, private, nominal, share of GDP.1","Exports, goods & services, PPP exchange rate, nominal, US$","Exports, goods & services, constant prices and exchange rate, US$, % of World","GDP per capita, PPP exchange rate, nominal, US$","GDP, PPP exchange rate, real, US$, % of World","GDP, US$ prices & PPP exchange rate, nominal","GDP, constant prices and exchange rate, US$, % of World","GDP, industry, real",GVA Agriculture share of GVA,GVA Industry share of GVA,GVA Manufacturing of GVA,"GVA Services, share of GVA","Gross value added in construction, real","Gross value added in services, real","Imports, goods & services, constant prices and exchange rate, US$, % of World","Imports, goods, PPP exchange rate, nominal, US$",Industrial production index.1,"Investment, construction, real","Investment, government, nominal","Investment, machinery & equipment, nominal","Investment, private, non-residential structures, nominal","Investment, total fixed investment, nominal, US$","Investment, total fixed, nominal, share of GDP","Net investment, nominal, US$",Output gap,"Stockbuilding, nominal, US$","Stockbuilding, nominal, share of GDP",Trend productivity target,World trade index,House price index,Housing starts,Interest rate on building society mortgages,"Market value of housing stock, LCU",Stock of owner-occupied houses
0,2014,1,8647853.730,170283,12541,2802,1813,956,335,143,338,250,1467,995,662,425,64737.825,36052.315,2922.557,5503.443,109619.150,38.405,102.370,92.400,5.900,29.260,2.140,94.300,0.320,2.550,11.890,411.280,2252.180,220.990,95.160,19.280,18.120,250.890,1625.340,118.310,96.500,12.590,19.470,650.990,883.000,-2.110,145311.000,16572600.000,-149700.000,13469.500,4276150.000,-5.220,317468.000,48030.000,0.240,0.350,235.620,137.740,103.630,0.130,2.760,1834.300,6.670,77.870,637175000.000,637175.000,14.900,2893550000.000,2893550.000,67.670,583975000.000,11.660,13472.800,16.220,4276150.000,24.220,653.540,1.260,15.790,11.940,79.520,142.240,3291.350,14.100,591100000.000,100.870,240.450,147.180,264.550,136.680,858925.000,20.090,71400.000,-3.560,13075.000,0.310,29.350,107.060,201.270,233.500,4.360,20625.700,134034.000
1,2014,2,8461779.130,180277,15438,2961,1901,1020,309,157,553,331,1432,982,667,431,70914.051,40857.178,3289.803,5391.995,114629.557,24.901,102.370,92.400,5.920,30.650,2.240,97.620,0.330,2.580,12.180,416.430,2277.680,228.720,97.290,19.460,18.340,249.940,1635.550,120.190,98.610,12.700,19.670,667.780,919.000,-1.990,145913.000,17200900.000,-11900.000,13702.900,4358220.000,-5.130,318051.000,48188.000,0.240,0.590,236.870,135.660,105.000,0.130,2.620,1900.370,6.200,78.700,637675000.000,637675.000,14.630,2939220000.000,2939220.000,67.440,596775000.000,11.680,13706.400,16.360,4358220.000,24.360,671.020,1.260,15.990,12.040,79.310,144.440,3327.600,14.310,601800000.000,102.200,248.540,150.650,271.300,143.680,884150.000,20.290,46000.000,-2.660,24100.000,0.550,29.450,109.730,203.130,246.750,4.230,21029.000,134247.000
2,2014,3,9266477.580,195749,17561,3092,1964,1082,351,152,517,325,1513,1057,711,430,66637.093,37618.096,2952.944,5293.970,114817.009,26.659,102.370,92.400,6.160,31.660,2.320,100.210,0.330,2.620,12.360,415.710,2278.510,231.410,98.590,19.490,18.440,252.020,1639.950,121.940,99.670,12.690,19.700,665.160,953.000,-2.000,146569.000,17271800.000,-7300.000,13904.100,4430420.000,-5.290,318641.000,44506.000,0.220,0.620,237.480,135.610,105.630,0.130,2.500,1975.950,6.070,78.900,646100000.000,646100.000,14.580,2978850000.000,2978850.000,67.240,597975000.000,11.550,13907.900,16.450,4430420.000,24.430,684.000,1.250,16.100,12.020,79.250,144.380,3366.760,14.190,598625000.000,102.800,250.760,151.630,279.250,146.500,903675.000,20.400,47100.000,-1.900,24850.000,0.560,29.450,110.350,205.370,257.670,4.140,21417.800,134463.000
3,2014,4,5635380.900,205298,17303,3148,2077,1025,316,157,499,334,1547,1128,786,458,61232.794,35650.407,2962.664,5310.114,98810.619,16.716,102.370,92.400,6.340,31.260,2.360,98.400,0.330,2.580,12.090,407.200,2235.080,228.600,99.370,19.540,18.450,254.590,1605.170,123.390,99.600,12.610,19.550,628.290,908.500,-2.290,147482.000,17258100.000,33300.000,13978.200,4462480.000,-5.210,319245.000,41944.000,0.210,0.480,236.890,135.790,106.330,0.130,2.280,2012.040,5.700,79.130,644475000.000,644475.000,14.440,3011120000.000,3011120.000,67.480,592975000.000,11.540,13982.200,16.460,4462480.000,24.390,691.380,1.260,16.180,11.930,79.130,146.680,3381.310,14.320,600025000.000,103.430,257.230,153.100,276.850,150.750,916025.000,20.530,41600.000,-1.790,21950.000,0.490,29.470,110.900,208.060,262.330,3.970,21687.100,134687.000
4,2015,1,6391238.860,192170,14251,2931,1914,983,255,122,381,262,1552,1071,743,459,63180.467,38475.425,7054.354,5701.126,85682.136,24.997,114.610,100.000,6.730,31.540,2.370,98.770,0.320,2.560,12.030,396.920,2155.650,223.960,99.920,19.470,18.370,257.490,1552.460,123.640,100.470,12.610,19.500,536.210,766.000,-2.200,148106.000,17848000.000,144100.000,14072.900,4500850.000,-4.930,319823.000,38986.000,0.200,1.020,235.360,135.070,105.500,0.130,1.970,2063.460,5.530,78.130,645025000.000,645025.000,14.330,3024770000.000,3024780.000,67.200,573750000.000,11.400,14077.100,16.340,4500850.000,24.410,697.690,1.310,16.160,11.920,79.100,148.090,3415.370,14.560,582250000.000,102.300,258.340,152.000,278.900,149.230,919350.000,20.430,42000.000,-1.300,43900.000,0.980,29.490,108.630,210.880,244.250,3.730,22022.900,134912.000

# Personal_Sector_2000-2025

In [96]:
s3 = boto3.resource(
                    service_name='s3',
                    region_name = 'us-east-1',
                    aws_access_key_id= 'AKIAVNWCBZPGPW4OB7H7',
                    aws_secret_access_key='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')
s3_bucket_name='ssa-oc-bucket'
file_name= 'source/Oxford_Economics_Indicators/Global_Economics/Macroeconomic/Detailed_Indicators(Not_Available_for_All_Locations)/Personal_Sector_2000-2025_Quarterly.csv'
obj = s3.Object(s3_bucket_name, file_name)
data = obj.get()['Body'].read()
personal_sector = pd.read_csv(io.BytesIO(data),encoding='latin1')  

personal_sector.replace({"United States": "USA", "Venezuela,  RB": "Venezuela",
                                "Hong Kong,  China":"Hong Kong", "Egypt, Arab Rep.":"Egypt",
                                "Russia":"Russian Fed.", "Slovak Republic":"Slovakia",
                                "United Arab Emirates":"Utd.Arab Emir."}, inplace=True)

In [97]:
indicator_list = [
       "Consumers' expenditure, durables, nominal", 
       'Liabilities, debt other than loans, households',
       'Personal consumer credit',
        'Financial liabilities, household sector, as a % of disposable income',
        'Retail sales, value index', 'Retail sales, volume index',
       'Savings, personal sector ratio']

In [98]:
personal_sector_US = personal_sector[personal_sector['Location']=='USA']

In [99]:
ncol = personal_sector_US.shape[1]
personal_sector_US = personal_sector_US[['Year','Quarter']+indicator_list]

NA_list = personal_sector_US.columns[personal_sector_US.isna().sum()==personal_sector_US.shape[0]].tolist()
personal_sector_US_df = personal_sector_US[personal_sector_US.columns[~personal_sector_US.columns.isin(NA_list)]]

In [100]:
personal_sector_US_df['Quarter'] = personal_sector_US_df['Quarter'].str.extract('.*(\d{1})', expand = False).astype(int)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [101]:
personal_sector_US_df1 = pd.concat([personal_sector_US_df[['Year','Quarter']], 
                       personal_sector_US_df[personal_sector_US_df.columns.difference(df9.columns.tolist())]], axis=1)

In [102]:
df10 = df9.merge(personal_sector_US_df1, on=['Year','Quarter'], how='left')

In [106]:
df11.shape

(30, 109)

# Final Preprocessing

In [107]:
df11 = df10.loc[:, (df10 != 0).any(axis=0)]

In [108]:
df11.to_csv('BL_Non_Residential_US_Quarterly.csv', index=False)